doctype html
html
  head
    title Уральский банк
    include partials/head
  body

    .back
    .modal
      .photo
        img(src="./images/raevich.jpg")
        .name
          |Раевич А. А.<br> Руководитель развития «Легкой» сети УБРиР
      .office-descr
        |«Легкий» офис — это симбиоз дистанционного и классического банка в формате low cost. В новых отделениях, предназначенных исключительно для обслуживания малого бизнеса, предприниматели могут открыть расчетный счет, получить POS-терминал для приема оплаты по банковским картам, а также оформить овердрафты. А депозиты для бизнеса размещаются через интернет-банк в «три клика». В наших офисах все услуги могут быть оказаны дистанционно – с выездом менеджера на место ведения бизнеса клиента.
        <br /><br />Мы видим довольно высокий спрос на продукцию банка со стороны микро- и малых предприятий и расширяем территорию своего присутствия, становясь, таким образом, ближе к каждому клиенту. Темпы прироста базы юридических лиц и отзывы клиентов дают нам понять, что мы выбрали правильную тактику, предоставляя бизнесменам качественные услуги по ценам ниже, чем у конкурентов». 
    .head
      .container
        .vacancy-wrapper
          img.logo(src="./images/logo.svg")
          .vacancy
            .vacancy-descr Вакансия для активных, амбициозных и целеустремленных
            .vacancy-name Ведущий менеджер по продажам МСБ
          .become-a-manager
            .button Стань частью команды
            .watch-video
              img(src="./images/play-video.svg")
              span Смотреть видео
    .detail-descr
      .container
        .text Ведущий менеджер по продажам МСБ – это персональный менеджер для предприятия малого и среднего бизнеса, работающий в новом формате <span class="light-office">«Легкий» офис»</span>. Приоритет для нас - это простота взаимодействия клиента с Банком, поэтому все услуги могут быть оказаны дистанционно - с  выездом менеджера на место ведения бизнеса клиента.
    .to-do 
      .container
        .title Что необходимо делать, что бы быть успешным Ведущим менеджером по продажам МСБ:
        .to-do-list_wrapper 
          img(src="./images/crown.svg")
          .to-do-list
            .to-do-item
              img(src="./images/checked.svg")
              span Строить долгосрочные, взаимовыгодные отношения с клиентами (предприятия малого и среднего бизнеса).
            .to-do-item
              img(src="./images/checked.svg")
              span Предлагать клиентам необходимые и полезные для развития их бизнеса услуги: эквайринг, расчетные счета, депозиты, овердрафтное кредитование, банковские гарантии.
            .to-do-item
              img(src="./images/checked.svg")
              span Обеспечивать документационное сопровождение всех сделок.
    .welcome-if
      .container
        .title Рады принять тебя в команду, если:
        .conditions
          .conditions-item
            img(src="./images/exp-icon.svg")
            span Обладаешь опытом активных продаж для предприятий в любой сфере бизнеса
          .conditions-item
            img(src="./images/effective-icon.svg")
            span Эффективен в коммуникациях: можешь найти общий язык с каждым, умеешь убеждать, и знаете, как успешно отработать возражения
          .conditions-item
            img(src="./images/purposeful-icon.svg")
            span Целеустремлен и точно знаешь чего хочешь!
          .conditions-item
            img(src="./images/active.svg")
            span Активный по жизни
        .button Cтать частью команды
    .advantages
      .container
        .title В чем приемущество работы в УБРиР?
        .advantages-list
          .advantages-item
            img(src="./images/checked-pink.svg")
            span Фиксированный доход + ежемесячный бонус
          .advantages-item
            img(src="./images/checked-pink.svg")
            span Корпоративная сотовая связь
          .advantages-item
            img(src="./images/checked-pink.svg")
            span Внутрикорпоративное обучение
          .advantages-item
            img(src="./images/checked-pink.svg")
            span Возможность карьерного роста
          .advantages-item
            img(src="./images/checked-pink.svg")
            span Расширенный соц. пакет: ДМС, спорт и др
          .advantages-item
            img(src="./images/checked-pink.svg")
            span Льготные условия кредитования и ипотеки
    .the-way
      .container
        img.woman(src="./images/woman.jpg")
        .title Мы предлагаем пройти небольшой путь:
        .step
          .number 1
          .descr
            .step-title Отбор по резюме:
            .status Поздравляем, этап успешно пройден!
        .step
          .number 2
          .descr
            .step-title Онлайн-интервью:
            .status Узнай, подходит ли эта работа тебе
        .step
          .number 3
          .descr
            .step-title Личное знакомство
            .status Мы свяжемся с тобой!
        .button Стать частью команды
    .footer 
      .container
        .title Адреса офисов:
        .city г. Санкт-Петербург
        .adreses
          span Бакунина, 5А
          span Финляндский проспект, 4А
          span Ташкентская, 1А
    .licence
      .container
        | Уральский банк реконструкции и развития, 1990-2018 Лицензия ЦБ РФ №429 от 06.02.2015
