doctype html
html
  head
    title Уральский банк
    include partials/head
  body

    .modal
      .modal-background
      .modal-inner
        .modal-close
        .modal-photo
          img(src="./images/raevich.jpg")
          .modal-name
            |Раевич А. А.<br> Руководитель развития «Легкой» сети УБРиР
        .modal-description
          |«Легкий» офис — это симбиоз дистанционного и классического банка в формате low cost. В новых отделениях, предназначенных исключительно для обслуживания малого бизнеса, предприниматели могут открыть расчетный счет, получить POS-терминал для приема оплаты по банковским картам, а также оформить овердрафты. А депозиты для бизнеса размещаются через интернет-банк в «три клика». В наших офисах все услуги могут быть оказаны дистанционно – с выездом менеджера на место ведения бизнеса клиента.
          <br /><br />Мы видим довольно высокий спрос на продукцию банка со стороны микро- и малых предприятий и расширяем территорию своего присутствия, становясь, таким образом, ближе к каждому клиенту. Темпы прироста базы юридических лиц и отзывы клиентов дают нам понять, что мы выбрали правильную тактику, предоставляя бизнесменам качественные услуги по ценам ниже, чем у конкурентов». 

    .video-container
      .video-container-close
      .youtube-video-player

    .head
      .background-black
      .container
        .vacancy-wrapper
          img.logo(src="./images/logo.svg")
          .vacancy
            //- .vacancy-descr Вакансия для активных, амбициозных и целеустремленных
            .vacancy-name Команда Уральского банка реконструкции и развития приглашает Ведущего технолога в департамент информационных технологий
          .become-a-manager
            a.button(href="#") Стань частью команды
            .watch-video
              //- img(src="./images/play-video.svg")
              span Смотреть видео

    .detail-descr
      .container
        .description-item
          img.icon(src="./images/bank.svg")
          .text 
            | <span class="bold">Банк</span> — это сложнейший механизм, в функционировании которого одну из ключевых ролей играют современные информационные технологии. Сейчас мы активно  приступили к реализации новой концепции развития IT инфраструктуры Банка . 

        .description-item
          img.icon(src="./images/logo_lines.svg")
          .text
            |<span class="bold red">УБРиР</span> — открытый, профессиональный, современный Банк с драйвом. Мы работаем, опираясь на передовые тенденции, решаем амбициозные задачи, постоянно совершенствуя наши процессы.

    .advantages
      .container
        .title Мы ждем тебя в команду, если ты:
        .advantages-list
          .advantages-item
            img(src="./images/checked.svg")
            span За твоими плечами есть опыт работы в должности технолога, системного или бизнес аналитика от 2 лет;
          .advantages-item
            img(src="./images/checked.svg")
            span Понимаешь что хочет пользователь и умеешь на основе этого писать технические задания;
          .advantages-item
            img(src="./images/checked.svg")
            span Системно мыслишь, умеешь определять главное и расставлять приоритеты, самостоятельно принимаешь эффективные решения.
          .advantages-item
            img(src="./images/checked.svg")
            span Владеешь навыком написания методик и тестирования программного обеспечения
          .advantages-item
            img(src="./images/checked.svg")
            span Получил высшее образование
          .big-advantage
            img(src="./images/thumbs_up.svg")
            <span>Отлично, если ты еще владеешь <br/>хорошими знаниями SQL</span>
        a.button(href="#") Cтань частью команды
    .to-do
      .container
        .to-do-list_wrapper
          .tasks-wrapper
            .title Что входит в задачи и обязанности технолога:
            .to-do-list
              .to-do-item
                img(src="./images/red-oval.svg")
                span Сбор, анализ, формализация бизнес требований и согласование их с заказчиком
              .to-do-item
                img(src="./images/red-oval.svg")
                span Постановка задачи разработчикам, написание ТЗ
              .to-do-item
                img(src="./images/red-oval.svg")
                span Моделирование и оценка бизнес-процессов
              .to-do-item
                img(src="./images/red-oval.svg")
                span Разработка технической документации
              .to-do-item
                img(src="./images/red-oval.svg")
                span Написание методик и проведение тестирования ПО
          img.group(src="./images/group-photo.jpg")
    .welcome-if
      .container
        .title В чем приемущество работы в УБРиР?
        .conditions
          .conditions-item
            img(src="./images/bar-chart.svg")
            span Карьерный и профессиональный рост внутри Банка
          .conditions-item
            img(src="./images/open-book.svg")
            span Внутрикорпоративное<br/>обучение
          .conditions-item
            img(src="./images/box.svg")
            span Расширенный соц. пакет: ДМС, спорт, скидки от партнеров и др.
          .conditions-item
            img(src="./images/idea.svg")
            span Уровень заработной платы, который зависит от ваших технических знаний и навыков. 
          .conditions-item
            img(src="./images/credit.svg")
            span Льготное кредитования и ипотечные займы
          .conditions-item
            img(src="./images/office.svg")
            span Новый креативный офис в центре города
        //- a.button(href="#") Cтань частью команды
    .the-way
      .container
        img.woman(src="./images/woman.jpg")
        .title Мы предлагаем пройти небольшой путь:
        .step
          .number 1
          .descr
            .step-title Отбор по резюме:
            .status Поздравляем, ты уже успешно прошел его!
        .step
          .number 2
          .descr
            .step-title Онлайн-интервью:
            .status Тебе потребуется ноутбук или смартфон и несколько минут свободного времени!
        .step
          .number 3
          .descr
            .step-title Собеседование:
            .status В случае успеха мы с тобой свяжемся и договоримся о встрече!
        a.button(href="#") Стань частью команды
    .gallery
      .container
        .slider-prev
        .slider
          .slider-item
            img(src="./images/slider-1.jpg")
          .slider-item
            img(src="./images/slider-2.jpg")
          .slider-item
            img(src="./images/slider-3.jpg")
          .slider-item
            img(src="./images/slider-1.jpg")
          .slider-item
            img(src="./images/slider-2.jpg")
          .slider-item
            img(src="./images/slider-3.jpg")

        .slider-navigation
          .slider-counter
            .slider-current
              | 1
            .slider-separate
              | /
            .slider-length
        .slider-next
    .footer
      .container
        .title Адреса офисов:
        .city г. Екатеринбург
        .adreses
          span 8-ое Марта, 51 БЦ Саммит
          span Сакко и Ванцетти, 67
    .licence
      .container
        | Уральский банк реконструкции и развития, 1990-2018 Лицензия ЦБ РФ №429 от 06.02.2015
