.background-black {
  opacity: 0.5;
  background: #000;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.video-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
  z-index: 1000;

  &.video-container-visible {
    display: flex;
  }

  .video-container-close {
    position: fixed;
    top: 16px;
    right: 16px;
    z-index: 10000;
    cursor: pointer;
    width: 32px;
    height: 32px;
    background: url('../images/close.svg') no-repeat center / contain;
  }

  .youtube-video-player {
    width: 100%;
    height: 100%;
  }

  iframe {
    width: 100%;
    height: 100%;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;

  display: none;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  &.is-visible {
    display: flex;
  }

  .modal-inner {
    width: 100%;
    max-width: 1280px;
    padding: 80px 0;
    padding-left: 50px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    font-family: 'PF BeauSans Pro';
    position: relative;
    z-index: 100;
  }

  .modal-name {
    padding-top: 15px;
    padding-lefT: 15px;
  }

  .modal-close {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 24px;
    height: 24px;
    background: url('../images/close-black.svg') no-repeat center / contain;
    cursor: pointer;
  }

  .modal-description {
    padding: 0 80px;
    padding-top: 45px;
  }

  .modal-background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    background: #000;
    opacity: 0.9;
    height: 100vh;
    width: 100vw;
  }
}

.head {
  position: relative;
  height: 600px;
  width: 100%;
  background-color: #000;
  background: url('../images/background.gif') no-repeat center / cover;
  color: #fff;
  padding-top: 80px;
}

.logo {
  margin-bottom: 88px;
}

.vacancy-wrapper {
  width: 450px;
}


.vacancy {
  font-size: 24px;
  margin-bottom: 40px;

  &-descr {
    font-weight: bold;
    margin-bottom: 8px;
  }
}

.become-a-manager {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // margin-bottom: -6px;
}

.watch-video {
  width: 180px;
  display: flex;
  align-items: center;
  cursor: pointer;

  img {
    margin-right: 15px;
  }

  span {
    padding-top: 5px;
  }
}

.detail-descr {
  padding: 80px 0;
  font-size: 18px;
  color: #888888;
  font-weight: 600;
}

.text {
  border-left: 2px solid #E94280;
  padding: 40px;
}

.light-office {
  color: #E94280;
  cursor: pointer;
}

.to-do {
  padding: 40px 0;
  &-list_wrapper {
    display: flex;
    align-items: center;
  }

  &-list {
    margin-left: 100px;
  }
  &-item {
    display: flex;
    align-items: center;

    span {
      margin-left: 20px;
      max-width: 873px;
    }
    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }
}

.title {
  width: 100%;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 80px;
}

.welcome-if {
  padding: 80px 0;
}

.conditions {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 60px;
}

.conditions-item {
  display: flex;
  align-items: center;
  width: 50%;
  span {
    margin-left: 40px;
    max-width: 370px;
  }

  &:nth-child(-n+2) {
    margin-bottom: 60px;
  }
}

.advantages {
  padding: 80px 0;
  background: #4A546C;
  color: #fff;

  &-list {
    display: flex;
    flex-flow: column wrap;
    height: 130px;
  }

  span {
    margin-left: 15px;
  }

  &-item:not(:nth-child(3n)) {
    margin-bottom: 25px;
  }
}

.the-way {
  .container {
    padding: 80px 30px;
  }
  .button {
    margin-top: 60px;
  }
}

.woman {
  position: absolute;
  height: 550px;
  width: auto;
  bottom: 0;
  right: 0;
}

.step {
  display: flex;
  align-items: flex-end;


  .descr {
    padding-bottom: 40px;
    margin-left: 25px;
  }

  .number {
    font-size: 100px;
    font-weight: 900;
    color: #ECECEC;
  }
}

.step-title {
  font-weight: 600;
}

.status {
  margin-top: 10px;
  color: #898989;
}

.footer {
  background: #4A546C;
  color: #fff;

  .container {
    padding: 80px 30px;
  }

  .title {
    margin-bottom: 24px;
  }
}

.city {
  font-weight: bold;
  margin-bottom: 25px;
}

.adreses {
  span {
    position: relative;
    display: inline-block;
    margin-right: 60px;
    margin-bottom: 20px;

    &::after {
      content: '';
      display: block;
      width: 40px;
      height: 1px;
      background: #E94280;
      position: absolute;
      bottom: -8px;
      left: 0;
    }
  }
}

.licence {
  background: #4A546C;
  color: #fff;
  border-top: 1px solid #8D9CB5;

  .container {
    padding: 40px 30px;
  }
}

.gallery {
  padding: 80px 0 50px;
  background: #F1F1F1;
}

.slider-navigation {
  margin-top: 16px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.slider-counter {
  font-size: 16px;
  color: #000000;
  text-align: left;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.slider-separate {
  margin: 0 4px;
}

.slider-prev {
  background: url('../images/left.svg') no-repeat center / contain;
  width: 10px;
  height: 20px;
  margin-right: 10px;
  cursor: pointer;
}

.slider-next {
  background: url('../images/right.svg') no-repeat center / contain;
  width: 10px;
  height: 20px;
  margin-left: 10px;
  cursor: pointer;
}

@media (max-width: 960px) {
  .woman {
    display: none;
  }

  .advantages {
    &-list {
      height: auto;
    }

    &-item {
      margin-bottom: 25px;
    }
  }
}

@media (max-width: 768px) {
  .slider-item img {
    width: 100%;
  }

  .modal .modal-inner {
    width: 100%;
    height: 100%;
    display: block;
    padding: 40px 24px;
    overflow-y: scroll;
  }

  .modal-photo {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }

  .modal .modal-name {
    padding: 0;
    padding-left: 16px;
  }

  .modal-photo img {
    width: 100px;
    height: 100%;
  }

  .modal .modal-description {
    padding: 0;
    margin-top: 32px;
  }

  .detail-descr {
    padding: 60px 0px;
  }

  .detail-descr .text {
    padding-right: 0;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .title {
    margin-bottom: 32px;
  }

  .welcome-if {
    padding: 60px 0;
  }

  .conditions {
    margin-bottom: 0px;
  }

  .to-do-item:not(:last-child),
  .conditions-item:not(:last-child) {
    margin-bottom: 32px;
  }

  .advantages {
    padding: 60px 0;
  }

  .advantages-item {
    display: flex;
    flex-flow: row nowrap;
  }

  .advantages-item:last-child {
    margin-bottom: 0;
  }

  .advantages-item img {
    height: 18px;
  }

  .the-way .container {
    padding: 60px 24px;
  }

  .the-way .button {
    margin-top: 32px;
  }

  .footer .container,
  .licence .container {
    padding: 60px 24px;
  }

  .vacancy-wrapper {
    width: auto;
  }

  .become-a-manager {
    flex-wrap: wrap;

    .button {
      margin-bottom: 24px;
    }
  }

  .to-do-list_wrapper img {
    display: none;
  }

  .to-do-list {
    margin: 0;
  }

  .button {
    width: 100%;
  }

  .conditions-item {
    width: auto;
    margin-bottom: 60px;
  }
}