.button {
  font-family: 'PF BeauSans Pro';
  padding: 14px 0;
  padding-top: 16px;
  font-size: 16px;
  width: 240px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
  background: #E94280;
  box-shadow: 0 2px 4px 0 rgba(86,86,86,0.50);
  border-radius: 3px;
}